<div class="container">
  <h1>Welcome to JSRACER!</h1>
  <form id="player_form" method="post" action="/game">
    <input type="text" name="player_1" placeholder="Enter Player 1's Name" />
    <input type="text" name="player_2" placeholder="Enter Player 2's Name" />
    <input type="submit" value="Play Game!" />
  </form>
</div>
